<div class="col-md-4 col-md-offset-4">
    <h2>编辑影片信息</h2>

    <hr>
    <%= form_for @movie do |f| %>

    影片名
    <%= f.text_field :title %>
    <br>
    影片简介
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
